<div class="jumbotron">
    <h1 class="mb-1">Angular Assignment - Routing</h1>
    <br />  
    <p>
        In this assignment, you will add a new Angular component to the application and make it accessible through
        routing.
    </p>
    <p class = "lead">Todo:</p>
    <ul>
        <li>Create a new standalone Angular component.</li>
        <li>Add some basic template content so it’s clear when the component is rendered.</li>
        <li>Register the component in the application routing.</li>
        <li>Verify that you can navigate to the new route in the browser.</li>
    </ul>
</div>

<div class="jumbotron">
    <h1 class="mb-1">Angular Assignment - Bindings</h1>
    <br />  
    <p>
        Using the created component from the previous assignment, enhance it by adding data bindings and event handling.
    </p>
    <p class = "lead">Todo:</p>
    <p>Create some HTML (if you haven't already), and create some dynamic content using data bindings and event handling.
        <span class="text-extra">Could be as simple as displaying a counter, handling an input text, or something fancier!</span>
    </p>
</div>