/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.text-extra{
    font-weight: lighter;
    color: darkgray;
    font-style: italic;
}

.emoji{
    color: unset;
    font-weight: unset;
    font-style: normal;
}

.jumbotron {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 24px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Consolas,
        "Liberation Mono", "Courier New", monospace;
}

.content-container{
    background-color: lightgray;
    padding: 24px;
    border-radius: 8px;
    margin-top: 16px;
}

.nav-item{
    margin-right: 12px;
}